DATA_STORE_HOST=localhost
DATA_STORE_PORT=6379
DATA_STORE_PASSWORD=secret
INTROSPECTION_CLIENT=issuer
INTROSPECTION_CLIENT_SECRET=secret
SCOPES=openid,pid:sd_jwt_dc,pid:mso_mdoc,diploma,ehic,por:sd_jwt_vc
TRUSTED_ISSUERS=http://localhost:8003/openid
ACCESS_TOKEN_TTL=30
REFRESH_TOKEN_TTL=2592000
BASE_PATH=
VCT_REGISTRY_URL=http://localhost:8097/type-metadata
AUTHENTICATOR=user-pass-pid     #user-pass-pid | auth-broker
USER_PASS_PID_DEMO_USERNAME=test
USER_PASS_PID_DEMO_PASSWORD=vErY$3cure
PRE_AUTHORIZED_CREDENTIAL_ISSUANCE=true
PRE_AUTHORIZED_CODE_API_URL=http://localhost:8003/api
PRE_AUTHORIZED_CODE_API_BEARER_TOKEN=secret-bearer-token
DPOP_NONCE_REQUIRED=false
DPOP_NONCE_SECRET=fcghuiopiulkyjhgnfbfgylu9iuogfhc
